<div class="books">
	{% for book in site.books %}
	<article class="book">

		<h4>{{ book.title }}</h4>

		<h3>{{ book.author }}</h3>

		<p class="meta">{{ book.published }}, {{ book.ISBN }}, Pages: {{ book.pages }}</p>

		<div class="amazon">
		  <a href={{ book.url }} target="_blank" rel="sponsored noopener noreferrer" class="book"><span class="icon text-gray-400"><i class="fab fa-amazon"></i></span> <span class="font-semibold text-xs css-1n69hv8">Get on Amazon</span></a>
		</div>

	</article>
	{% endfor %}
</div>
