<div>
	{% for book in site.books %}
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-8 main-content">

			<h3>{{ book.title }}</h3>

			<h4>{{ book.author }}</h4>

			<table>
				<thead>
					<tr>
						<th>Published</th>
						<th>ISBN</th>
						<th>Pages</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ book.pages }}</td>
						<td>{{ book.ISBN }}</td>
						<td>{{ book.published }}</td>
					</tr>
                </tbody>
			</table>

		</div>
		<div class="col-sm-4 hidden-xs-down">
			<div class="btn btn-sm amazon">
			  <a href="{{ book.amazon }}?tag=AsynchronousGillz" target="_blank" rel="sponsored noopener noreferrer" class="book">
				  <span class="icon text-gray-400">
					<i class="fab fa-amazon"></i>
				  </span>
				  <span class="font-semibold text-xs css-1n69hv8">
					  Get on Amazon
				  </span>
			  </a>
			</div>
		</div>

	</div>
	{% endfor %}
</div>
