<div id="home">
	<header>
		<div id="header-top">
			<div class="sheet">
				<nav></nav>
				<a class="logo" target="_blank" href="/"></a>
			</div>
		</div>
		<div id="header-alert">
			<div class="sheet"></div>
		</div>
		<div id="header-message">
			<div class="sheet">
			</div>
		</div>
		<div class="sticky" id="header-bottom">
			<div class="sheet">
				<div class="title">
					<h1><a href="/">AsynchronousGillz</a></h1>
				</div>
				<nav>
					<button type="button" class="navbar navbar-toggle" data-toggle="collapse" data-target="#navList">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse" id="navList">
						<ul class="nav navbar-nav">
							<li><a attributes="" href="/posts">Blog</a></li>
							<li><a attributes="" href="/books">Books</a></li>
							<li><a attributes="" href="/assets/resume.pdf">Resume</a></li>
							<li><a attributes="" href="//github.com/AsynchronousGillz">Github</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div id="top-cover-image-wrapper">
			<div id="top-cover-image-inner" data-anchor-target="#skrollr > main" data-0="top:-10%" data-top-top="top:0%" class="skrollable skrollable-between" style="top: -10%;"></div>
		</div>
	</header>

