<div id="home">
	<header>
		<div id="header-alert">
			<div class="sheet"></div>
		</div>
		<div id="header-message">
			<div class="sheet">
			</div>
		</div>
		<div class="stuck" id="header-bottom">
			<div class="sheet">
				<div class="title">
					<a class="logo" href="/"></a>
				</div>
				<nav>
					<button type="button" class="navbar navbar-toggle " data-toggle="collapse" data-target="#navList">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse" id="navList">
						<ul class="nav navbar-nav">
							<li><a class="box" href="/posts">Blog</a></li>
							<li><a class="box" href="/books">Books</a></li>
							<li><a class="box" href="//github.com/GerhardOfRivia">Github</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>

