<div id="home">
	<header>
		<div id="header-top">
			<div class="sheet">
				<nav></nav>
				<a class="logo" target="_blank" href="/"></a>
			</div>
		</div>
		<div id="header-alert">
			<div class="sheet"></div>
		</div>
		<div id="header-message">
			<div class="sheet">
			</div>
		</div>
		<div class="sticky" id="header-bottom">
			<div class="sheet">
				<div class="title">
					<h1><a href="/">AsynchronousGillz</a></h1>
				</div>
				<div class="btn-toolbar" role="toolbar" aria-label="nav">
					<a class="btn btn-default btn-lg" role="button" href="/">Home</a>
					<a class="btn btn-default btn-lg" role="button" href="/about">About</a>
					<a class="btn btn-default btn-lg" role="button" href="/posts">Blog</a>
					<a class="btn btn-default btn-lg" role="button" href="/assets/resume.pdf">Resume</a>
				</div>
			</div>
		</div>
		<div id="top-cover-image-wrapper">
			<div id="top-cover-image-inner" data-anchor-target="#skrollr > main" data-0="top:-10%" data-top-top="top:0%" class="skrollable skrollable-between" style="top: -10%;"></div>
		</div>
		<div class="sheet">
			<div class="btn-group btn-group-justified" role="group" aria-label="quick links">
				<a target="_blank" class="btn btn-default btn-lg" role="button" href="//github.com/AsynchronousGillz">github</a>
				<a target="_blank" class="btn btn-default btn-lg" role="button" href="//info.canvas.colostate.edu/">canvas</a>
				<a target="_blank" class="btn btn-default btn-lg" role="button" href="//www.cs.colostate.edu/~cs455">455</a>
				<a target="_blank" class="btn btn-default btn-lg" role="button" href="//eid.colostate.edu/gmail/">email</a>
				<a target="_blank" class="btn btn-default btn-lg" role="button" href="//www.colostate.edu/">colostate</a>
			</div>
		</div>
	</header>

