{% unless include %}{% assign include = {} %}{% endunless %}
{% unless include.max %}{% assign include.max = -1 %}{% endunless %}
<ul>{% for meeting in site.posts %}{% if include.max < 0 or include.max >= forloop.index %}
	<li>{% assign ms = meeting.content | strip_newlines | size %} {% if ms != 0 or meeting.url_external %}
		<a {% if meeting.url_external %}href="{{ meeting.url_external }}" class="external" target="_blank"{% else %}href="{{ meeting.url }}"{% endif %}>{% endif %}{{ meeting.date | date: "%-d&nbsp;%B&nbsp;%Y" }}{% if ms != 0 %}</a>
		{% endif %}
		:: {{ meeting.title }}
	</li>
	{% endif %}{% endfor %}
</ul>
