html {
    font-family: Ubuntu Condensed;
    font-size: 1em;
    color: #5e7163
}
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #fefdf6
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}
::-moz-selection {
    background: #5e7163;
    color: #fefdf6
}
::selection {
    background: #5e7163;
    color: #fefdf6
}
a:hover {
    color: #aa974d
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #9f9f9f
}
h2 {
    border-bottom: solid 1px rgba(68, 131, 86, 0.3)
}
main {
    max-width: 1200px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 1.2em;
    word-break: break-word;
    margin: auto
}
header,
footer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}
.sheet {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.sheet-content {
    padding-top: 15px;
    -webkit-box-flex: 100;
    -ms-flex: 100;
    flex: 100
}
.sheet-content>div:first-child h2,
.sheet-content>article:first-child h2 {
    margin-top: 0;
    border-bottom: none
}
img {
    height: auto;
    max-width: 100%
}
tbody tr td:first-child {
    white-space: nowrap
}
tbody tr td {
    border-top: 1px solid #555;
    border-right: 1px solid #555;
}
tbody tr td:last-child {
    border-right: none
}
.anchor {
    padding-top: 100px;
    margin-top: -100px
}
input[type='checkbox'].toggle {
    display: none
}
.mobile-only,
.mobile-block,
.mobile-flex {
    display: none !important
}
header {
    z-index: 21;
    position: relative;
    height: 400px;
    margin-bottom: 2%
}
#header-top {
    background: #9f9f9f;
    min-height: 50px;
    z-index: 10;
    position: relative
}
#header-top .sheet {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
#header-top a.logo {
    display: inline-block;
    width: 300px;
    height: 50px;
    background: url(/assets/logo.png) center center / contain no-repeat
}
#header-alert {
    background: #aa974d
}
#header-message {
    background: #448356
}
#header-alert,
#header-message {
    z-index: 10;
    position: relative
}
#header-alert .sheet,
#header-message .sheet {
    -ms-flex-pack: distribute;
    justify-content: space-around
}
#header-alert .sheet>p:only-child,
#header-message .sheet>p:only-child {
    text-align: center;
    width: 100%
}
#header-alert *,
#header-message * {
    color: white
}
#header-bottom {
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
    background: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    position: relative
}
#header-bottom .sheet {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}
#header-bottom .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0
}
#header-bottom .title h1 {
    margin: 0;
    line-height: 3em;
    font-size: 2em
}
#header-bottom .title h1 a {
    text-decoration: none
}
#header-bottom .title h1 a:hover {
    color: #448356
}
#header-bottom nav {
    line-height: 2em
}
#header-bottom nav a {
    font-size: 1.4em;
    text-decoration: none;
    padding: 10px 0;
    margin: 0 6px;
    white-space: nowrap
}
#header-bottom nav a:hover {
    color: #c55628;
    border-bottom: solid 2px #c55628
}
#header-bottom.sticky {
    position: relative;
    z-index: 25
}
#header-bottom.stuck {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.85)
}
#nav-bottom.sticky {
    position: relative;
    z-index: 25
}
button#mobile-menu {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 3px 7px;
    margin-right: 6px
}
button#mobile-menu:hover {
    background: #9f9f9f
}
button#mobile-menu:hover span.bar {
    border-color: #fefdf6
}
button#mobile-menu span.bar {
    display: block;
    border: solid 1px #9f9f9f;
    height: 0;
    width: 1.5em;
    margin: 5px
}
nav.sidemenu {
    vertical-align: top
}
nav.sidemenu h2 {
    margin: 15px 0;
    white-space: nowrap;
    font-size: 1.2em;
    border-bottom: none
}
nav.sidemenu a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: background .5s ease;
    transition: background .5s ease
}
nav.sidemenu a:hover {
    background: rgba(0, 0, 0, 0.1)
}
nav.sidemenu>ul {
    margin: 0 0 0 25px;
    padding: 0 0 0 15px;
    border-left: solid 1px #D4D6D2;
    list-style: none
}
nav.sidemenu>ul>li ul {
    margin: 0;
    padding: 0;
    list-style: none
}
footer {
    padding-top: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2)
}
footer a {
    color: #448356
}
#footer-top {
    padding: 25px 0;
    background: #25472e
}
#footer-top .sheet {
    -ms-flex-pack: distribute;
    justify-content: space-around
}
#footer-top ul {
    list-style: none;
    padding: 0;
    text-align: center
}
#footer-top ul li {
    display: inline-block;
    margin: 0 10px
}
#footer-bottom {
    background: #9f9f9f;
    color: #222222;
    padding: 25px 0
}
#footer-bottom .sheet {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
#footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
#footer-links a {
    margin-left: 10px
}
#github img {
    width: 25%;
    height: auto
}
blockquote {
    border: 0px
}
#top-cover-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden
}
#top-cover-image-inner {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 110%;
    background: url(/assets/tech.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat
}
#bottom-cover-image-wrapper {
    position: relative;
    height: 300px;
    overflow: hidden
}
#bottom-cover-image-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url(../img/building.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat
}
#tabs.no-js ul.tabs-nav {
    display: none
}
#tabs.no-js .tab-data {
    display: block;
    margin-bottom: 2rem
}
#tabs.no-js .tab-data:last-child {
    margin-bottom: 0
}
#tabs ul.tabs-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px 0;
    padding: 0
}
#tabs ul.tabs-nav li.tabs-nav-link {
    margin-right: 4px;
    padding: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    position: relative;
    bottom: -1px
}
#tabs ul.tabs-nav li.tabs-nav-link:last-child {
    margin-right: 0
}
#tabs ul.tabs-nav li.tabs-nav-link.active,
#tabs ul.tabs-nav li.tabs-nav-link:hover {
    color: black;
    border-color: #aaa;
    background: #fff;
    border-radius: 5px 5px 0 0
}
#tabs .tab-data {
    display: none
}
#tabs .tab-data.active {
    display: block
}
.spinner {
    width: 40px;
    height: 40px;
    background-color: #9f9f9f;
    -webkit-animation: spinner-rotateplane 1.2s infinite ease-in-out;
    animation: spinner-rotateplane 1.2s infinite ease-in-out
}
@-webkit-keyframes spinner-rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}
@keyframes spinner-rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}
input[type='checkbox'].toggle+label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}
input[type='checkbox'].toggle+label::before {
    border-left: 8px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    margin-right: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
input[type='checkbox'].toggle:checked+label::before {
    border-top: 8px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 8px
}
input[type='checkbox'].toggle~ul > li a:not([largeclick]) {
    display: none
}
input[type='checkbox'].toggle:checked~ul > li a:not([largeclick]) {
    display: block
}
input[type='checkbox'].toggle~.system-update {
    display: none
}
input[type='checkbox'].toggle:checked~.system-update {
    display: block
}
#system-updates label {
    margin-bottom: 20px
}
#system-updates h2 {
    margin-bottom: 0;
    padding-bottom: 0
}
#system-updates .system-update .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
#system-updates .system-update p {
    margin-top: 0;
    margin-bottom: 0
}
#system-updates .spinner {
    display: none
}
#system-update-check:not(:checked)+label h2:after {
    content: ' (Click to Expand)'
}
#system-update-check:checked~.spinner:last-child {
    display: block
}
@media screen and (max-width: 1000px) {
    header {
        height: 40vw
    }
    #header-bottom .title h1 {
        font-size: 3vw
    }
    #header-bottom nav a {
        font-size: 2.5vw
    }
    #bottom-cover-image-wrapper {
        height: 30vw
    }
}
@media screen and (max-width: 600px) {
    .mobile-only,
    .mobile-block {
        display: block !important
    }
    .mobile-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
    .mobile-none {
        display: none !important
    }
    header {
        text-align: center;
        height: 240px
    }
    #header-bottom .sheet {
        padding-left: 0
    }
    #header-bottom nav {
        display: none
    }
    #header-bottom .title h1 {
        font-size: 1.4em
    }
    button#mobile-menu {
        display: inline-block
    }
    #bottom-cover-image-wrapper {
        height: 180px
    }
    .sheet {
        padding: 0 6px
    }
    nav.sidemenu {
        min-width: 250px;
        width: 66%;
        height: 100%;
        position: fixed;
        z-index: 50;
        left: 0;
        top: 0;
        margin-left: 0;
        -webkit-transition: left .2s ease;
        transition: left .2s ease;
        background-color: #fefdf6;
        line-height: 40px;
        font-size: 1.2em;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
        overflow-x: hidden;
        overflow-y: auto
    }
    nav.sidemenu.away {
        left: -100%
    }
    nav.sidemenu ul {
        margin: 0;
        padding: 0;
        border-left: 0
    }
    nav.sidemenu ul li {
        text-align: left
    }
    nav.sidemenu h2 {
        margin-left: 10px;
        font-size: 5vw
    }
    nav.sidemenu a {
        border-bottom: solid 4px #448356;
        margin: 0;
        padding: 10px 0 10px 20px;
        font-size: 4.5vw;
        white-space: normal
    }
}
@media screen and (max-width: 400px) {
    #header-bottom h1 {
        overflow: hidden;
        white-space: nowrap;
        font-size: 5vw !important;
        display: block
    }
    nav.sidemenu ul li a {
        font-size: 18px
    }
    nav.sidemenu ul li h2 {
        font-size: 20px
    }
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    text-align: left;
    padding: 8px;
}
.re-green {
    background-color: #61b70f;
    background-size: 20px 20px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.re-purple {
    border-bottom: 20px solid purple;
    border-right: 11.5px solid transparent;
    border-left: 11.5px solid transparent;
    display: inline-block;
    vertical-align: middle;
}
.re-red {
    background-color: red;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #555;
    color: white;
}
#date, #time {
    margin-left: auto;
    margin-right: auto
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
input[type=text], [type=number], select {
    width: 100%;
    padding: 12px 15px;
    margin: 5px 0;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}
input[type=password] {
    width: 100%;
    padding: 12px 15px;
    margin: 5px 0;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=file] {
    width: 100%;
    padding: 12px 15px;
    margin: 5px 0;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

